@tailwind base;
@tailwind components;
@tailwind utilities;

#react-logo {
    animation: rotate infinite 3s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

#modal {
    animation: appear 300ms ease-in-out;
}

@keyframes appear {
    0% {
        transform: translateY(-5rem);
    }

    100% {
        transform: translateY(0);
    }
}